[Desktop Entry]
Type=Application
Name=porosenocheckemployee
Comment=**Porosenochek** is your go-to platform for top-notch pet care services, combining convenience, customization, and compassion. Easily access grooming, health check-ups, and more, all tailored to your pet's needs. Join our community and revolutionize your pet care experience today!
Icon=com.porosenocheck.porosenocheckemployee
Exec=/usr/bin/com.porosenocheck.porosenocheckemployee
X-Nemo-Application-Type=silica-qt5

[X-Application]
Permissions=Audio;Call;Camera;DeviceInfo;Documents;Downloads;Internet;Location;MediaIndexing;Microphone;Music;NFC;Pictures;PublicDir;PushNotifications;RemovableMedia;ScreenCapture;SecureStorage;Videos;WebView;
OrganizationName=com.porosenocheck
ApplicationName=employee
